@media (prefers-color-scheme: light) {
  
}

@media (prefers-color-scheme: dark) {
    .sidebar { 
        background:  #36393e;
    }

    .nav-group-item {
        color: #969c9f
    }

    .toolbar {
        background-color: #1e2124;
        background-image: unset;
        box-shadow: inset 0 1px 0 #36393e;
    }

    .title {
        color: white;
    }

    
}
  
